:root{
    /*Tons de Cinza*/
    --cor-cinza-um : #303030;
    --cor-cinza-um-sombra : #222222;
    --cor-cinza-dois : #535353;
    --cor-cinza-tres : #474747;
    --cor-cinza-tres-sombra : #47474771;
    --cor-cinza-quatro : #616161;
    --cor-cinza-cinco : #dddddd;
    --cor-cinza-seis : #cecece;
    --cor-cinza-sete : #f1f1f1;

    /*Cores Primarias*/
    --cor-primaria : #F7BA00;
    --cor-secundaria : #ffdd59;
    --cor-tercearia : #D5DDEC;
    --cor-quintenaria : #09d;
    --cor-sexta : #ff1616;
}