/*----------------Menu----------------*/

.menu-icone{
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    transition: all 0.3s;
    background-color: var(--cor-cinza-um);
    overflow: hidden;
}

.menu-icone:hover{
    background-color: var(--cor-cinza-tres-sombra);
}

.menu-icone .icone{
    height: 2px;
    width: 18px;
    background-color: #fff;
    position: absolute;
    border-radius: 20px;
    transition: 0.3s;
}

.menu-icone .icone:nth-child(1){
    transform: translateY(-6px);
}

.menu-icone .icone:nth-child(3){
    transform: translateY(6px);
}

.menu-icone.ativo .icone:nth-child(1){
    transform: translateY(0px) rotate(45deg);
    transition-delay: 75ms;
    background-color: var(--cor-sexta);
}

.menu-icone.ativo .icone:nth-child(2){
    transform: translateX(60px);
}

.menu-icone.ativo .icone:nth-child(3){
    transform: translateY(0px) rotate(315deg);
    transition-delay: 150ms;
    background-color: var(--cor-sexta);
}

.invisivel{
    transform: translatex(-101%);
    opacity: 0;
}

.menu{
    z-index: 100;
    transition: all 0.2s cubic-bezier(.14,.48,0,.98);
    position: fixed;
    overflow-y: scroll;
    padding: 0px 20px;
    background-color: var(--cor-cinza-um);
}

.menu::-webkit-scrollbar {
    width: 5px;
}

.menu::-webkit-scrollbar-track {
    background-color: var(--cor-cinza-quatro);
    border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb {
    background-color: var(--cor-cinza-um-sombra);
    border-radius: 10px;
}

.menu ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    justify-content: center;
}

.menu ul li{
    margin-bottom: 15px;
}

.menu ul li a{
    text-align: center;
    display: block;
    padding: 10px;
    position: relative;
    color: var(--cor-cinza-cinco);
    border-radius: 10px;
    box-shadow: 1px 1px 4px var(--cor-cinza-um-sombra), -1px -1px 4px var(--cor-cinza-um-sombra);
    border: 2px solid var(--cor-cinza-sete);
    transition: opacity .3s linear,transform .2s ease-out,color 0.12s ease-in-out, border-color 0.2s ease-in-out;
}

.invisivel-topico{
    opacity: 0;
    transform: translateY(-100px);
}

.menu ul li a:hover{
    color: var(--cor-quintenaria);
    border-color: var(--cor-quintenaria);
    box-shadow: inset 2px 2px 3px var(--cor-cinza-tres), inset -2px -2px 3px var(--cor-cinza-tres);
}

.menu ul li:last-child{
    margin-bottom: 0px;
}

.menu ul li .menu-ativo{
    color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    box-shadow: inset 2px 2px 3px var(--cor-cinza-tres), inset -2px -2px 3px var(--cor-cinza-tres);
    pointer-events: none;
}

@media only screen and (max-width: 500px) {
    .menu{
        width: 100%;
        padding: 0px;
    }
    
    .menu ul li{
        margin: 0px;
    }

    .menu ul li a{
        box-shadow: none;
        padding: 40px;
        border: none;
        border-bottom: 2px solid var(--cor-cinza-quatro);
        border-radius: 0px;
    }

    .menu ul li .menu-ativo{
        border: none;
        border-bottom: 2px solid var(--cor-cinza-quatro);
        box-shadow: none;
    }

    .menu ul li a:hover{
        color: var(--cor-cinza-cinco);
        background-color: var(--cor-quintenaria);
        border-color: var(--cor-cinza-quatro);
        box-shadow: none;
    }
}