/*----------------Importações----------------*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

/*----------------Resets----------------*/

body{
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

::before::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

img{
    vertical-align: middle;
    max-width: 100%;
}