/*----------------Importações----------------*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

/*----------------Layout da Página----------------*/

body{
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor-cinza-sete);
}

/*----------------Titulo----------------*/

.titulo{
    text-transform: uppercase;
    color: var(--cor-primaria);
    text-align: center;
    background-color: var(--cor-cinza-um);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

/*----------------Conteudo Geral----------------*/

.conteudo-geral{
    text-align: center;
    max-width: 600px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.conteudo-geral h2{
    color: var(--cor-cinza-um);
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-quatro);
}

.conteudo-geral p{
    color: var(--cor-cinza-um);
    margin-bottom: 20px;
    font-size: 20px;
    text-align: justify;
    padding: 0px 10px;
}

/*----------------Card Conteudo Geral----------------*/
.card{
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transition:  ease-in-out 0.4s;
    margin: auto;
}

.face{
    cursor: pointer;
    box-shadow: inset 1px 1px 1px var(--cor-cinza-tres), inset -1px -1px 1px var(--cor-cinza-tres);
    position: absolute;
    border: 2px solid var(--cor-cinza-um);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.imagem img{
    height: 100%;
    width: 100%;
}

.texto{
    background-color: var(--cor-cinza-quatro);
    transform: rotateY(180deg);
    pointer-events: none;
    color : var(--cor-cinza-sete);
    font-size: 23px;
}

.flip{
    transform: rotateY(180deg);
}

/*----------------Conteudo Especifico----------------*/

.fundo-conteudo-tabela{
    min-height: 80vh;
    width: 100%;
    background-color: var(--cor-cinza-tres);
}

.conteudo-tabela{
    text-align: center;
    max-width: 600px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.conteudo-tabela h2{
    color: var(--cor-cinza-sete);
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-sete);
}

.conteudo-tabela .identificacao {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo-tabela .identificacao  h4,.conteudo-tabela .identificacao  p{
    color: #fff;
}

.conteudo-tabela .identificacao  h4{
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.conteudo-tabela .identificacao  p{
    font-size: 18px;
}

.conteudo-tabela .link-Lattes{
    margin-top: 100px;
}

.conteudo-tabela .link-Lattes .links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.conteudo-tabela .link-Lattes a{
    color: #fff;
    padding: 20px;
    display: block;
    width: 30%;
    font-size: min(5vw,20px);
    border: 3px solid #fff;
}