/*----------------Layout da Página----------------*/

body{
    font-family: 'Oxygen', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor-cinza-sete);
}

/*----------------Titulo----------------*/

.titulo{
    text-transform: uppercase;
    color: var(--cor-primaria);
    text-align: center;
    background-color: var(--cor-cinza-um);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

/*----------------Conteudo Geral----------------*/

.conteudo{
    text-align: center;
    max-width: 600px;
    padding: 0px 20px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.conteudo h2{
    color: var(--cor-cinza-um);
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-quatro);
}

.conteudo .dados-comunicacao{
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--cor-cinza-um);
}

.conteudo .dados-comunicacao h4{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--cor-cinza-quatro);
}

/*----------------Formulário----------------*/

.fundo-formulario{
    min-height: 80vh;
    width: 100%;
    background-color: var(--cor-cinza-tres);
}

.formulario{
    text-align: center;
    max-width: 600px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.formulario h2{
    color: var(--cor-cinza-sete);
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-sete);
}

.formulario .formularios-partes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario .formularios-partes label{
    font-size: 25px;
    color: var(--cor-cinza-sete);
    width: 50%;
    letter-spacing: 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.formulario .formularios-partes input{
    width: 40%;
    font-size: 17px;
    height: 30px;
    padding: 20px 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px var(--cor-cinza-um);
    transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
    -o-transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, width 0.2s ease-in-out;
}

.formulario .formularios-partes textarea{
    min-height: 100px;
    border: 2px solid transparent;
    width: 50%;
    font-size: 15px;
    margin-bottom: 25px;
    padding: 20px 15px;
    border-radius: 10px;    
    resize: vertical;
    transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
    -o-transition: border-color 0.2s ease-in-out;
    -moz-transition: border-color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out;
}

.formulario .formularios-partes input:focus,.formulario .formularios-partes textarea:focus{
    border-color: var(--cor-quintenaria);
}

.formulario .formularios-partes input:focus{
    width: 55%;
}

.formulario button{
    width: 30%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid transparent;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: color 0.3s ease-out,background-color 0.2s ease-in-out;
    transition: color 0.3s ease-out,background-color 0.2s ease-in-out;
    -o-transition: color 0.3s ease-out,background-color 0.2s ease-in-out;
    -moz-transition: color 0.3s ease-out,background-color 0.2s ease-in-out;
    -webkit-transition: color 0.3s ease-out,background-color 0.2s ease-in-out;
}

.formulario button:hover{
    border-color: var(--cor-quintenaria);
    background-color: var(--cor-quintenaria);
    color: #fff;
}

.aparecer{
    animation: surgir 0.7s ease-out;
}

.transition{
    transition: 0.7s ease-out;
}

.reveal{
    transform: translateY(-30px);
    opacity: 0;
}

@keyframes surgir{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}