/*----------------Classes-Gerais----------------*/

.text-align-center{
    text-align: center;
}

/*----------------Layout da Página----------------*/

body{
    background-color: var(--cor-cinza-um);
}

.flex{
    z-index: -1;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.layout-principal{
    width: 100%;
}

/*----------------Titulos----------------*/

.titulo h1, .titulo h2{
    z-index: 10;
    letter-spacing: 8px;
    font-size: 48px;
    color: var(--cor-primaria);
}

.titulo h2{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.subtitulo{
    margin-top: 20px;
}

.subtitulo h2{
    z-index: 10;
    letter-spacing: 4px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 24px;
    color: var(--cor-primaria);
}

.titulo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}

/*----------------Menu----------------*/

.menu{
    z-index: 10;
    background-color: var(--cor-cinza-dois);
    padding: 50px 0px;
}

.menu-conteudo ul{
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
}

html.flexbox_gap .menu-conteudo ul{
    gap: 30px;
}

html.no_flexbox_gap .menu-conteudo ul li{
    margin-right: 30px;
    margin-bottom: 10px;
}

html.no_flexbox_gap .menu-conteudo ul li:last-child{
    margin-right: 0px;
}

.menu-conteudo ul li{
    display: block;
}

.menu-conteudo ul li a{
    display: block;
    padding: 8px 10px;
    font-size: 25px;
    color: var(--cor-secundaria);
    border: 3px solid var(--cor-secundaria);
    border-radius: 20px;
    box-shadow: 3px 3px 4px var(--cor-cinza-tres), -1px -1px 2px var(--cor-cinza-tres);
    transition: all 0.2s cubic-bezier(.17,.67,1,2);
    -o-transition: all 0.2s cubic-bezier(.17,.67,1,2);
    -moz-transition: all 0.2s cubic-bezier(.17,.67,1,2);
    -webkit-transition: all 0.2s cubic-bezier(.17,.67,1,2);
    text-transform: capitalize;
}

.menu-conteudo ul li a:hover{
    transform: scale(1.05);
}

/*----------------Animação----------------*/

.grupo-atomos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.atomos{
    opacity: 0;
    z-index: -1;
    background-color: var(--cor-tercearia);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    filter: blur(7px) drop-shadow(4px 4px 10px #fff) ;
    animation: atomo 5s linear infinite;
    
}

.atomos:nth-child(1){
    animation-delay: 2s;
}
.atomos:nth-child(2){
    width: 45px;
    height: 45px;
    animation-delay: 0.5s;
}
.atomos:nth-child(3){
    animation-delay: 4s;
}
.atomos:nth-child(4){
    width: 10px;
    height: 10px;
    animation-delay: 6s;
}
.atomos:nth-child(5){
    animation-delay: 10s;
}
.atomos:nth-child(6){
    width: 28px;
    height: 28px;
    animation-delay: 3s;
}

.aparecer{
    opacity: 0;
    animation: surgir 0.5s ease-out forwards;
}

@keyframes surgir{
    0%{
        opacity: 0;
        transform: translateX(-30px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes atomo{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-90vh);
        opacity: 0;
    }
}