/*----------------Layout da Página----------------*/

html {
  scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--cor-cinza-sete);
}

/*----------------Titulo----------------*/

.titulo{
    text-transform: uppercase;
    color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

/*----------------Conteudo Geral----------------*/

.conteudo-geral{
    text-align: center;
    max-width: 600px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.conteudo-geral h2{
    color: var(--cor-cinza-um);
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-quatro);
}

.conteudo-geral p{
    color: var(--cor-cinza-um);
    margin-bottom: 20px;
    font-size: clamp(0.7em,1em,1.4em);
    line-height: 1.5em;
    text-align: justify;
    padding: 5px 10px;
}

/*----------------Card Conteudo Geral----------------*/
.card{
    display: flex;
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    transition:  ease-in-out 0.6s;
    -o-transition: ease-in-out 0.6s;
    -moz-transition: ease-in-out 0.6s;
    -webkit-transition: ease-in-out 0.6s;
    margin: auto;
}

.face{
    cursor: pointer;
    box-shadow: 2px 2px 4px var(--cor-cinza-seis), inset -1px -1px 1px var(--cor-cinza-seis);
    position: absolute;
    border: 3px solid var(--cor-cinza-seis);
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.imagem img{
    height: 100%;
    width: 100%;
}

.texto{
    background-color: var(--cor-cinza-cinco);
    transform: rotateY(180deg);
    pointer-events: none;
    color : var(--cor-cinza-um);
    font-size: 23px;
}

.flip{
    transform: rotateY(180deg);
}

/*----------------Conteudo Especifico----------------*/

.fundo-conteudo-tabela{
    min-height: 80vh;
    width: 100%;
    background-color: var(--cor-cinza-tres);
}

.conteudo-tabela{
    text-align: center;
    max-width: 550px;
    margin: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.conteudo-tabela h2{
    color: var(--cor-cinza-sete);
    padding: 20px 0px;
    margin-bottom: 20px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-sete);
}

.conteudo-tabela .identificacao {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudo-tabela .identificacao  h4,.conteudo-tabela .identificacao  p{
    color: #fff;
}

.conteudo-tabela .identificacao h4{
    font-size: 22px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.conteudo-tabela .identificacao p{
    font-size: 18px;
}

.conteudo-tabela .link{
    margin-top: 70px;
}

.conteudo-tabela .link h2{
    margin-bottom: 40px;
}

.conteudo-tabela .link .links{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.conteudo-tabela .link a{
    color: #fff;
    padding: 20px;
    display: block;
    width: 30%;
    font-size: min(5vw,20px);
    border: 3px solid #fff;
    transition: 0.15s cubic-bezier(.17,.67,1,2);
    -o-transition: 0.15s cubic-bezier(.17,.67,1,2);
    -moz-transition: 0.15s cubic-bezier(.17,.67,1,2);
    -webkit-transition: 0.15s cubic-bezier(.17,.67,1,2);
    position: relative;
    background-color: var(--cor-cinza-tres);
}

.conteudo-tabela .link span{
    z-index: 10;
    position: relative;
}

.conteudo-tabela .link a::before{
    content: '';
    top: 6px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% - 12px);
    background-color: var(--cor-cinza-tres);
    position: absolute;
    transform: scaleX(1);
    transition: 0.3s ease-in-out 0.3s;
    -o-transition: 0.3s ease-in-out 0.3s;
    -moz-transition: 0.3s ease-in-out 0.3s;
    -webkit-transition: 0.3s ease-in-out 0.3s;
}

.conteudo-tabela .link a:hover:before{
    transform: scaleY(0);
}

.conteudo-tabela .link a::after{
    content: '';
    left: 6px;
    top: -3px;
    height: calc(100% + 6px);
    width: calc(100% - 12px);
    background-color: var(--cor-cinza-tres);
    position: absolute;
    transform: scaleX(1);
    transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.conteudo-tabela .link a:hover::after{
    transform: scaleX(0);
}

/*----------------Conteudo Divisão de linhas----------------*/

.conteudo-linhas{
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.conteudo-linhas h2{
    color: var(--cor-cinza-um);
    width: min(600px,100%);
    padding: 20px 0px;
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--cor-cinza-quatro);
}

.conteudo-linhas .divisao-linhas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

html.flexbox_gap .conteudo-linhas .divisao-linhas{
    gap: 40px;
}

html.no_flexbox_gap .conteudo-linhas .divisao-linhas .formacao:nth-child(1){
    margin-right: 40px;
    margin-bottom: 10px;
}

.conteudo-linhas .divisao-linhas .formacao{
    width: 300px;
    color: var(--cor-cinza-um);
}

.conteudo-linhas .divisao-linhas .formacao h3{
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--cor-cinza-tres);
    color: #fff;
    border: 2px solid var(--cor-cinza-quatro);
}

.conteudo-linhas .divisao-linhas .formacao h4{
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
    border-bottom: 1px solid var(--cor-cinza-quatro);
}

.conteudo-linhas .divisao-linhas .formacao p{
    font-size: 18px;
    margin-bottom: 20px;
}

.conteudo-linhas .divisao-linhas .formacao .objetivo-linhas{
    width: 80%;
    text-align: justify;
    font-size: clamp(0.7em,1em,1.4em);
    line-height: 1.5em;
    margin: auto;
}

.botao-topo{
    margin-top: 100px;
    font-size: 40px;
    color: var(--cor-cinza-um);
    padding: 5px;
    width: 130px;
    border-radius: 30px;
    box-shadow: 2px 2px 3px var(--cor-cinza-seis), -2px -2px 3px var(--cor-cinza-seis);
    transition: 0.15s ease-in-out;
    -o-transition: 0.15s ease-in-out;
    -moz-transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
}

.botao-topo:hover{
    box-shadow: inset 2px 2px 3px var(--cor-cinza-seis), inset -2px -2px 3px var(--cor-cinza-seis);
    background-color: var(--cor-cinza-cinco);
    color: var(--cor-quintenaria);
}

.aparecer{
    animation: surgir 0.7s ease-out;
}

@keyframes surgir{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.transition{
    transition: 0.7s ease-out;
}

.reveal{
    transform: translateY(-30px);
    opacity: 0;
}

@media only screen and (max-width: 500px) {
    .conteudo-geral p{
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
    html.no_flexbox_gap .conteudo-linhas .divisao-linhas .formacao:nth-child(1){
        margin-bottom: 20px;
        margin-right: 0px;
    }
}